<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mechanic on the way</title>
    <style>
      /* CSS styles */
      body {
        font-family: sans-serif;
        background-color: #f5f5f5;
        text-align: center;
        padding-top: 50px;
      }

      h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }

      p {
        font-size: 24px;
        margin-bottom: 10px;
      }

      .name {
        font-weight: bold;
      }

      .email {
        font-style: italic;
      }
    </style>
   
  </head>
  <body>
    <!-- HTML content -->
    <h1>Your mechanic is on the way to pivk you vehicle!</h1>
    <p><span class="name">arun</span> will be arriving shortly.</p>
    <p>You can contact them at <span class="email">arun@gmail.com</span>. <br> Your car will be services and returned with in one bussiness day </p>
   
  </body>
</html>
