<!DOCTYPE html>
<html>
<head>
	<title>Choose Job Type</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
	background-color: #f8f9fa;
}

.card {
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
	font-size: 20px;
	font-weight: bold;
}

.card-text {
	font-size: 16px;
	margin-bottom: 5px;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

    </style>
</head>
<body>
    <form action="/jobtype" method="post">
	<div class="container mt-5">
		<h1 class="text-center mb-4">Choose Job Type</h1>
		<div class="row">
			<div class="col-md-5 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Mobile Assistance Job</h5>
						<p class="card-text">Get help with your mobile phone or tablet.</p>
						<!-- <a href="#" class="btn btn-primary btn-block">Choose</a> -->
                        <input type="submit" class="btn btn-primary btn-block" value="Choose" formaction="/calltype">
					</div>
				</div>
			</div>
			<div class="col-md-5	 mb-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Mechanic Job</h5>
						<p class="card-text">Get help with your car or motorcycle.</p>
						<!-- <a href="#" class="btn btn-primary btn-block" >Choose</a> -->
                        <input type="submit" class="btn btn-primary btn-block" value="Choose" formaction="/mechanictype">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3 mb-5" style="margin-left: 600px;">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Service Job</h5>
				<p class="card-text">Get help with your car or motorcycle.</p>
				<!-- <a href="#" class="btn btn-primary btn-block" >Choose</a> -->
				<input type="submit" class="btn btn-primary btn-block" value="Choose" formaction="/servicetype">
			</div>
		</div>
	</div>
</div>
</div>
</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
