<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="style.css">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">



  <title>Order Details</title>

</head>

<body>

  <div class="card p-3">
      <p class="mb-0 fw-bold h4">Payment Methods</p>
    </div>
  <div class="card ">
  <div class="card-body">
<div class="accordion" id="accordionExample">
  <div class="card ">
    <div class="card-header " id="headingOne">
      <h2 class="mb-0 fw-bold h4">
        <button class="btn btn-info  " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   Net Banking / UPI Transaction
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" align="center">
  
<div class="shadow-sm p-3 mb-5 bg-white rounded" style="width: 60rem;">
       <div class="card-deck">
<div class="card" style="width: 18rem;">
 <img src="Gpay.png" class="card-img-top" alt="..."height="160x" width ="80px">
  <div class="card-body">
    <h5 class="card-title">Google Pay</h5>
    <p class="card-text">Pay through Google Pay</p>
    <a href="#" class="btn btn-primary">Pay now</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="Paytm.png" class="card-img-top" alt="..."height="160x" width ="80px">
  <div class="card-body">
    <h5 class="card-title">Paytm</h5>
    <p class="card-text">Pay through Paytm</p>
    <a href="#" class="btn btn-primary">Pay now</a>
  </div>
</div>
        <div class="card" style="width: 18rem;">
  <img src="Phonephe.png" class="card-img-top" alt="..." height="160x" width ="80px">
  <div class="card-body">
    <h5 class="card-title">PhonePhe</h5>
    <p class="card-text">Pay through Phonephe</p>
    <a href="#" class="btn btn-primary">Pay now</a>
  </div>
</div>
</div>
</div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Credit Card/ Debit Card
                  </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      
        <div class="collapse show p-3 pt-0" id="collapseExample">
          <div class="card-deck">
<div class="shadow-sm p-3 mb-5 bg-white rounded" style="width: 100rem; height: 20rem;">
          <div class="row">
            <div class="col-lg-5 mb-lg-0 mb-3" >
              <p class="h4 mb-0">Enter Card Details</p>
              <p class="mb-0"><span class="fw-bold">Master, VISA, RuPay are allowed!!!</span></p>
              <p class="mb-0">Note: Your Card details are not saved as per the RBI rule | Secure Payment </p>
            </div>
            
              <div class="col-lg-7">
                <form action="" class="form">
                  <div class="row">
                    <div class="col-12">
                      <div class="form__div">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="" class="form__label">Card Number</label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form__div">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="" class="form__label">MM / yy</label>
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form__div">
                        <input type="password" class="form-control" placeholder=" ">
                        <label for="" class="form__label">cvv code</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form__div">
                        <input type="text" class="form-control" placeholder=" ">
                        <label for="" class="form__label">name on the card</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <a href="successor" class="btn btn-primary">Make Payment</a>
                     
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
  </div>




















<!-- 


        
      
  <div class="col-lg-4 bg_checkout_1 h-25 rounded">
    <div class="mb-3">
<div class="pt-47">
<div class="jumbotron">
<h1 class="display-4">ASM System</h1>
<p class="lead"> </p>
<hr class="my-4">
<p>These systems promote safety, convenience, and environmental sustainability, making the driving experience more efficient and enjoyable for drivers.</p>
 <h4>Need Help?</h4>
<a class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1KF6GMzzd8INCmN76zavai6Lwfhrja-S-/view?usp=sharing" role="button">See Here</a>
</div>
</div>

<a href="Card.html">click here</a>
 -->







































<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</body>

</html>
